# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Local environment / IDE configs
.venv/
env/
venv/
.vscode/
.idea/

# Challenge data (if you want to keep the .npz data private/local)
# *.npz
